GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://urlshortener:urlshortener@localhost:5432/urlshortener
GOOSE_MIGRATION_DIR=./migrations
GOOSE_TABLE=goose_db_version

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=urlshortener
POSTGRES_USER=urlshortener
POSTGRES_PASSWORD=urlshortener

IN_MEMORY_LRU_CAPACITY=10000
PORT=8080

